[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.4"
attrs = "==20.3.0"
black = "==21.4b0"
certifi = "==2020.12.5"
cfgv = "==3.2.0"
click = "==7.1.2"
coverage = "==5.5"
distlib = "==0.3.1"
filelock = "==3.0.12"
gensim = "==3.8.1"
identify = "==2.2.3"
iniconfig = "==1.1.1"
mypy-extensions = "==0.4.3"
nodeenv = "==1.6.0"
numpy = "==1.20.1"
pathspec = "==0.8.1"
pipenv = "==2020.11.15"
pluggy = "==0.13.1"
pre-commit = "==2.12.0"
py = "==1.10.0"
pyparsing = "==2.4.7"
pytest = "==6.2.3"
regex = "==2021.4.4"
scipy = "==1.6.1"
six = "==1.15.0"
smart-open = "==4.2.0"
toml = "==0.10.2"
virtualenv = "==20.4.3"
virtualenv-clone = "==0.5.4"
PyYAML = "==5.4.1"
tweepy = "*"
textblob = "*"
nltk = "*"
matplotlib = "*"
pandas = "*"
sklearn = "*"
pytest-cov = "*"
flake8 = "*"
bluebird = "==0.0.8a0"

[dev-packages]

[requires]
